* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: #202020;
    height: 100%;
}

main {
    height: 100%;
    padding: 20px;
    margin: auto;
}

ul, li {
    text-align: center;
    list-style: none;
}

textarea, input[type="text"], input[type="email"], input[type="submit"], button {
    -webkit-appearance: none;
    border-radius: 0;
    background: none;
}

input[type="submit"] {
    bottom: 0;
    position: absolute;
    color: white;
    padding: 20px;
    border: none;
    border-top: 1px solid white;
}